<library path="src">
    <class name="HeatSensorViewer" type="heat_sensor_viewer.heat_sensor_viewer.HeatSensorViewer"
           base_class_type="rqt_gui_py::Plugin">
        <description>
            A Python GUI plugin to introspect ROS topics.
        </description>
        <qtgui>
            <group>
                <label>Yozakura GUI</label>
                <icon type="theme">folder</icon>
            </group>
            <label>Themo data Viewer</label>
            <icon type="theme">system-search</icon>
            <statustip>A Python GUI plugin for monitoring ROS topics.</statustip>
        </qtgui>
    </class>
    <class name="CO2SensorViewer" type="co2_sensor_viewer.co2_sensor_viewer.CO2SensorViewer"
           base_class_type="rqt_gui_py::Plugin">
        <description>
            A Python GUI plugin to introspect ROS topics.
        </description>
        <qtgui>
            <group>
                <label>Yozakura GUI</label>
                <icon type="theme">folder</icon>
            </group>
            <label>CO2 data Viewer</label>
            <icon type="theme">system-search</icon>
            <statustip>A Python GUI plugin for monitoring ROS topics.</statustip>
        </qtgui>
    </class>
    <class name="InputModeViewer" type="input_mode_viewer.input_mode_viewer.InputModeViewer"
           base_class_type="rqt_gui_py::Plugin">
        <description>
            A Python GUI plugin to introspect ROS topics.
        </description>
        <qtgui>
            <group>
                <label>Yozakura GUI</label>
                <icon type="theme">folder</icon>
            </group>
            <label>Input Mode Viewer</label>
            <icon type="theme">system-search</icon>
            <statustip>A Python GUI plugin for monitoring ROS topics.</statustip>
        </qtgui>
    </class>
</library>
