<?xml version="1.0"?>
<launch>
    <node name="overview_cam" pkg="web_cam" type="image_streaming.py" output="screen">
        <remap from="web_cam_img" to="overview_img"/>
        <param name="ip_address" value="192.168.54.160"/>
        <param name="overlay_text" value="Overview"/>
    </node>
    <node name="arm_cam" pkg="web_cam" type="image_streaming.py" output="screen">
        <remap from="web_cam_img" to="arm_img"/>
        <param name="ip_address" value="192.168.54.163"/>
        <param name="overlay_text" value="Arm"/>
    </node>
    <node name="front_cam" pkg="web_cam" type="image_streaming.py" output="screen">
        <remap from="web_cam_img" to="front_img"/>
        <param name="ip_address" value="192.168.54.161"/>
        <param name="overlay_text" value="Front"/>
    </node>
    <node name="back_cam" pkg="web_cam" type="image_streaming.py" output="screen">
        <remap from="web_cam_img" to="back_img"/>
        <param name="ip_address" value="192.168.54.162"/>
        <param name="overlay_text" value="Back"/>
    </node>
</launch>
