<?xml version="1.0"?>
<launch>
    <node name="operator_station" pkg="operator_station" type="main.py" output="screen">
        <param name="is_local_test" value="True"/>
        <remap from="yozakura_command" to="yozakura_command"/>
        <remap from="yozakura_state" to="yozakura_state"/>
        <remap from="yozakura_sensor_data" to="yozakura_sensor_data"/>
        <param name="lflipper_center_raw_data" value="0.31502"/>
        <param name="rflipper_center_raw_data" value="0.61080"/>
    </node>
    <node name="joystick" pkg="joy" type="joy_node">
        <remap from="joy" to="joy"/>
        <param name="dev" value="/dev/input/js0"/>
    </node>
    <node name="command_gen" pkg="operator_station" type="command_generator.py" output="screen">
        <remap from="yozakura_command" to="yozakura_command"/>
        <remap from="yozakura_state" to="yozakura_state"/>
        <remap from="yozakura_sensor_data" to="yozakura_sensor_data"/>
    </node>
    <node name="service_provider" pkg="operator_station" type="service_provider.py">
        <remap from="joy" to="joy"/>
        <remap from="input_mode_switcher" to="input_mode_switcher"/>
        <remap from="theta_capture" to="theta_capture"/>
        <param name="js_maker" value="Elecom Wireless Gamepad"/>
        <!--Logitech Logitech RumblePad 2 USB-->
    </node>
    <node name="data_distributor" pkg="operator_station" type="data_distributor.py">
        <remap from="yozakura_sensor_data" to="yozakura_sensor_data"/>
        <remap from="heat_data" to="heat_sensor"/>
        <remap from="co2_data" to="co2_sensor"/>
        <remap from="current_wheel_left" to="current_wheel_left"/>
        <remap from="current_wheel_right" to="current_wheel_right"/>
        <remap from="current_flipper_left" to="current_flipper_left"/>
        <remap from="current_flipper_right" to="current_flipper_right"/>
        <remap from="voltage_base" to="voltage_base"/>
    </node>
</launch>
