<?xml version="1.0"?>
<launch>  	
	<param name="robot_description" 
			command="$(find xacro)/xacro.py '$(find yozakura_display)/robot/yozakura.urdf.xacro'"/>
	<param name="use_gui" value="true"/>  
	<node name="joint_state_publisher" pkg="yozakura_jointstate_publisher" type="yozakura_jointstate_publisher.py" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />  
	<node name="rviz" pkg="rviz" type="rviz"/>
	<node name="urg" pkg="urg_node" type="urg_node">
            <param name="ip_address" value="192.168.54.170"/>
            <param name="frame_id" value="urg_base"/>
	</node>  
</launch>  
