<?xml version="1.0"?>
<robot name="newrobo">

	<link name="body_front">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="-0.262 0.0 0.0"/>
			<geometry>
				<mesh filename="package://shinobi_newrobo_display/urdf/newRobotDaes/small_bodyFront2.dae"/>
			</geometry>
		</visual>
	</link>

  <joint name="joint2body_back" type="revolute">
    <axis xyz="0 1 0"/>
    <limit effort="1000.0" lower="0.0" upper="1.5707" velocity="0.5"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="body_front"/>
    <child link="body_back"/>
  </joint>

	<link name="body_back">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://shinobi_newrobo_display/urdf/newRobotDaes/small_bodyBack2.dae"/>
			</geometry>
		</visual>
	</link>

  <joint name="joint2right_flipper" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="0.0" upper="0.548" velocity="0.5"/>
    <origin rpy="0 0 0" xyz="0.2 0.01 0"/>
    <parent link="body_front"/>
    <child link="right_flipper"/>
  </joint>

	<link name="right_flipper">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://shinobi_newrobo_display/urdf/newRobotDaes/small_rightFlipper.dae"/>
			</geometry>
		</visual>
	</link>

  <joint name="joint2left_flipper" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="0.0" upper="0.548" velocity="0.5"/>
    <origin rpy="0 0 0" xyz="0.2 0.01 0"/>
    <parent link="body_front"/>
    <child link="left_flipper"/>
  </joint>

	<link name="left_flipper">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://shinobi_newrobo_display/urdf/newRobotDaes/small_leftFlipper.dae"/>
			</geometry>
		</visual>
	</link>

  <joint name="joint2right_starwheel_front" type="continuous">
    <parent link="body_front"/>
    <child link="right_starwheel_front"/>
    <origin xyz="0.25 -0.30 0" rpy="0 0 0" /> 
    <axis xyz="0 1 0" rpy="0 0 0" />
  </joint>

	<link name="right_starwheel_front">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://shinobi_newrobo_display/urdf/newRobotDaes/small_rightStarWheel.dae" />
			</geometry>
		</visual>
	</link>

  <joint name="joint2right_starwheel_back" type="continuous">
    <parent link="body_back"/>
    <child link="right_starwheel_back"/>
    <origin xyz="0.25 -0.30 0" rpy="0 0 0" /> 
    <axis xyz="0 1 0" rpy="0 0 0" />
  </joint>

	<link name="right_starwheel_Back">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://shinobi_newrobo_display/urdf/newRobotDaes/small_rightStarWheel.dae" />
			</geometry>
		</visual>
	</link>

  <joint name="joint2left_starwheel_front" type="continuous">
    <parent link="body_front"/>
    <child link="left_starwheel_front"/>
    <origin xyz="0.25 -0.30 0" rpy="0 0 0" /> 
    <axis xyz="0 1 0" rpy="0 0 0" />
  </joint>

	<link name="left_starwheel_front">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://shinobi_newrobo_display/urdf/newRobotDaes/small_leftStarWheel.dae"/>
			</geometry>
		</visual>
	</link>

  <joint name="joint2left_starwheel_back" type="continuous">
    <parent link="body_back"/>
    <child link="left_starwheel_back"/>
    <origin xyz="0.25 -0.30 0" rpy="0 0 0" /> 
    <axis xyz="0 1 0" rpy="0 0 0" />
  </joint>

	<link name="left_starwheel_back">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://shinobi_newrobo_display/urdf/newRobotDaes/small_leftStarWheel.dae"/>
			</geometry>
		</visual>
	</link>

</robot>
