<?xml version="1.0"?>
<robot name="newrobo" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<link name="body_front">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="${bodyFront_depth} 0.0 0.0"/>
			<geometry>
				<mesh filename="package://shinobi_newrobo_display/robot/newRobotDaes/small_bodyFront2.dae"/>
			</geometry>
		</visual>
	</link>

  <joint name="joint2body_back" type="revolute">
    <axis xyz="0 1 0"/>
    <limit effort="1000.0" lower="-1.5707" upper="0.0" velocity="0.5"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="body_front"/>
    <child link="body_back"/>
  </joint>

	<link name="body_back">
		<visual>
			<origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.30"/>
			<geometry>
				<mesh filename="package://shinobi_newrobo_display/robot/newRobotDaes/small_bodyBack2.dae"/>
			</geometry>
		</visual>
	</link>

</robot>
