<?xml version="1.0"?>
<robot>	

	<property name="robotPackagePath" value="package://shinobi_newrobo_display/robot"/>
	<property name="modelDataResourseFolder" value="newRobotStls"/>
	
	<property name="bodyFront_depth" 	value="0.262" />
  <property name="bodyFront_height" value="0.072" />
  <property name="bodyFront_width" 	value="0.262" />

	<property name="bodyPitchAngle_max"	value=  "0" />
	<property name="bodyPitchAngle_min"	value="-90" />

	<property name="bodyLink_length" value="0.038" />

  <property name="bodyBack_depth" 	value="0.112" />
  <property name="bodyBack_height" 	value="0.072" />
  <property name="bodyBack_width" 	value="0.340" />

  <property name="starWheel_width" 	value="0.018" />
  <property name="starWheel_radius" value="0.134" />
  <property name="starWheelAxis_radius" value="0.134" />
  
	<property name="frontwheelAxis_fromBodyCenter" value="0.070" />
  <property name="backwheelAxis_fromBodyCenter" value="-0.100" />  
	<property name="frontwheel_tread" value="0.372"/> <!-- from outside to outside -->
  <property name="backwheel_tread" value="0.386"/> <!-- from outside to outside -->

  <property name="flipper_width" 		value="0.025" />
  <property name="flipper_length" 	value="0.178" />
  <property name="flipper_tread" 	value="0.320" /> <!-- from outside to outside -->

  <property name="flipperBigPulley_radius" value="0.032" />
  <property name="flipperAngle_max" value= "90" />
  <property name="flipperAngle_min" value="-90" />
  <property name="flipperAxis_fromBodyCenter" value="0.070" />
  <property name="flipperOffset_fromBodySide" value="0.010" />


	<property name="armYawAngle_max"	value= "90" />
	<property name="armYawAngle_min"	value="-90" />
	<property name="armPitchAngle_max"	value= "90" />
	<property name="armPitchAngle_min"	value="-90" />

  <property name="armBase_fromBodyCenter_X" value="0.040" />
  <property name="armYawStage_fromBodyTop" value="0.020" />
  <property name="armPitchAxis_fromYawAxis" value="0.045" />
  <property name="armPitchAxis_fromYawStage" value="0.045" />
  <property name="armLinearAxis_fromPitchAxis" value="0.010" />
  <property name="armLinearAxis_fromYawStage" value="0.055" />

	<property name="armLinearBase_ArmLinearAxis" value="0.025" />

  <property name="armLinear_frame_length" value="0.200" />


  <property name="arm_linear_frame_left_A" value="arm_linear_frame_left_A" />
  <property name="arm_linear_frame_left_B" value="arm_linear_frame_left_B" />
  <property name="joint_armLinear_left_A" value="joint_armLinear_left_A" />
  <property name="joint_armLinear_left_B" value="joint_armLinear_left_B" />
  <property name="joint_armLinear_left_C" value="joint_armLinear_left_C" />

  <property name="arm_linear_frame_right_A" value="arm_linear_frame_right_A" />
  <property name="arm_linear_frame_right_B" value="arm_linear_frame_right_B" />
  <property name="joint_armLinear_right_A" value="joint_armLinear_right_A" />
  <property name="joint_armLinear_right_B" value="joint_armLinear_right_B" />
  <property name="joint_armLinear_right_C" value="joint_armLinear_right_C" />
    
</robot>




